{% extends "base.html" %}
{% block title %} Home{% endblock %}
{% block body%}
<textarea id="content" placeholder="请输入要加密分享的数据" class="content mao-input"></textarea>
<div class="content-bar">
    <select id="valid_time" title="有效时间" class="content-bar-option mao-input">
        {% for time in valid_time_minutes %}
        <option value="{{ time }}">{{ time }} 分钟</option>
        {% endfor %}
    </select>
    <div class="content-bar-input">
        <input id="key" placeholder="这里输入密码" class="mao-input content-bar-input-inner" />
    </div>
    <button id="submit" class="btn">生成</button>
</div>

{% endblock %}

{% block script%}
<script>
    (() => {
        const $content = document.getElementById('content');
        const $key = document.getElementById('key');
        const $submit = document.getElementById('submit');
        const $validTime = document.getElementById('valid_time');

        const createInput = (name, value, type) => {
            const input = document.createElement('input');
            input.type = type || 'text';
            input.name = name;
            input.value = value;
            return input;
        }

        $submit.addEventListener('click', (e) => {
            let content = $content.value;
            let key = $key.value.trim();
            if (!content || !key || !content.trim()) {
                alert('请输入内容和密码');
                return;
            }
            content = content.replace(/\n/g, '__BR__');

            const form = document.createElement('form');
            form.action = '/share';
            form.method = 'POST';

            const contentInput = createInput('content', content);
            const keyInput = createInput('key', key);
            const validTimeInput = createInput('valid_time', $validTime.value);

            form.appendChild(contentInput);
            form.appendChild(keyInput);
            form.appendChild(validTimeInput);

            document.body.appendChild(form);
            form.submit();
            document.body.removeChild(form);
        })
    })();
</script>
{% endblock %}

{% block style%}

<style>
    .content-bar-option {
        width: 100px;
        display: block;
    }

    .content {
        height: 500px;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        overflow-y: auto;
    }

    .content-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        background-color: #ffffff;
        border-top: 1px solid #dcdcdc;
        padding: 0 20px;
    }

    .content-bar-input-lable {
        margin-right: 10px;
        font-size: 16px;
    }

    .content-bar-input-inner {
        flex: 1;
        display: block;
    }

    .content-bar-input {
        flex: 1;
        margin: 0 20px;
        border: none;
        outline: none;
        font-size: 16px;
        display: flex;
        align-items: center;
    }
</style>
{% endblock %}